files:
  "/etc/nginx/conf.d/websocket_upgrade.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      map $http_upgrade $connection_upgrade {
        default upgrade;
        ''      close;
      }

container_commands:
  01_reload_nginx:
    command: "sudo service nginx reload"