@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap");
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  min-width: 320px;
  width: 100%;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
.Home .title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.Home .button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Home .button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}
.Home .button:hover {
  background-color: #45a049;
}
.Home .button:active {
  background-color: #3e8e41;
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.Login form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
}
.Login form label {
  margin-bottom: 5px;
}
.Login form input {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.Login .loginButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.Login .loginButton:hover {
  background-color: #398a3c;
}
.Login .loginButton:active {
  background-color: #398a3c;
}
.Login .Register, .Login .Home {
  margin-top: 10px;
  max-height: 1em;
  text-decoration: none;
  color: #065fd4;
}
.Login .error {
  font-size: 0.75em;
  font-weight: bold;
  font-style: normal;
  color: red;
  margin: 0.5em;
  margin-bottom: 1em;
}

.Register {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* Media query for screens smaller than 600px (mobile) */
  /* Media query for screens larger than 600px (desktop) */
}
.Register form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Take full width of the container */
}
.Register form label {
  margin-bottom: 5px;
}
.Register form input {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.Register form .CheckTeacher {
  width: 2em;
  height: 2em;
}
.Register form p {
  font-size: 0.75em;
  font-style: italic;
  margin: 0.5em;
  margin-bottom: 1em;
}
.Register form .Warning {
  font-size: 0.75em;
  font-weight: bold;
  font-style: normal;
  color: red;
  margin: 0.5em;
  margin-bottom: 1em;
}
.Register form div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 10em;
}
.Register form div label {
  margin-right: 10px;
  margin-bottom: 0; /* Reset margin for better spacing */
}
.Register form div input {
  width: 150px;
  margin-bottom: 10px;
}
.Register .registerButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.Register .registerButton:hover {
  background-color: #398a3c;
}
.Register .registerButton:active {
  background-color: #398a3c;
}
.Register .Register,
.Register .Home {
  margin-top: 10px;
  max-height: 1em;
  text-decoration: none;
  color: #065fd4;
}
.Register .error {
  font-size: 0.75em;
  font-weight: bold;
  font-style: normal;
  color: red;
  margin: 0.5em;
  margin-bottom: 1em;
}
@media only screen and (max-width: 600px) {
  .Register form {
    max-width: 100%; /* Full width on smaller screens */
  }
  .Register div {
    flex-direction: column; /* Adjust layout for mobile */
    align-items: center;
  }
}
@media only screen and (min-width: 601px) {
  .Register form {
    max-width: 600px; /* Limit width on larger screens */
  }
}

.Dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.Dashboard .Logout, .Dashboard .Request {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.Dashboard .Logout, .Dashboard .Request:hover {
  background-color: red;
}
.Dashboard .ClassPeriods {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.Dashboard .button {
  display: flex;
  flex-direction: space-between;
  background-color: grey;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.Dashboard .button:hover {
  background-color: green;
}
.Dashboard .active-Period {
  background-color: #008cba;
}
.Dashboard .ClassPeriods {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Dashboard .ClassPeriods .Period {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.Dashboard .ClassPeriods .Period:hover {
  background-color: lightgrey;
}
.Dashboard .ClassPeriods .Period:active {
  background-color: grey;
}
.Dashboard .ClassPeriods .active-Period {
  width: 100%;
  height: 50px;
  display: flex;
  border: 1px solid darkgreen;
  background-color: lightgreen;
  justify-content: space-between;
}
.Dashboard .ClassPeriods .active-Period:hover {
  background-color: rgb(94, 237, 94);
}
.Dashboard .ClassPeriods .active-Period:active {
  background-color: green;
}
.Dashboard .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other elements */
}
.Dashboard .Create {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Add a shadow for the popup */
  text-align: center;
}
.Dashboard .Create button {
  display: flex;
  flex-direction: space-between;
  background-color: grey;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.Dashboard .Create button:hover {
  background-color: rgb(179, 179, 179);
}
.Dashboard .BadAlert {
  position: fixed;
  top: 1em;
  left: 50%; /* Set left to 50% */
  transform: translateX(-50%);
  height: 2.5em;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  background-color: lightcoral; /* Light red background color */
  color: darkred; /* Dark red text color */
  padding: 10px;
  text-align: center;
  border: 2px solid darkred; /* Dark red bottom border */
  border-radius: 100em; /* Rounded corners for the bottom */
  /* You can add more styles as needed */
  z-index: 1001;
}
.Dashboard .GoodAlert {
  position: fixed;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  height: 2.5em;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  background-color: lightgreen; /* Light red background color */
  color: darkgreen; /* Dark red text color */
  padding: 10px;
  text-align: center;
  border: 2px solid darkgreen; /* Dark red bottom border */
  border-radius: 100em; /* Rounded corners for the bottom */
  /* You can add more styles as needed */
  z-index: 1001;
}

.Classroom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.Classroom .exit,
.Classroom .delete {
  width: 100%;
  max-width: 10em;
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
.Classroom .exit.exit,
.Classroom .delete.exit {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
}
.Classroom .exit.exit:hover,
.Classroom .delete.exit:hover {
  background-color: #398a3c;
}
.Classroom .exit.exit:active,
.Classroom .delete.exit:active {
  background-color: #398a3c;
}
.Classroom .exit.delete,
.Classroom .delete.delete {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
}
.Classroom .exit.delete:hover,
.Classroom .delete.delete:hover {
  background-color: red;
}
.Classroom .exit.delete:active,
.Classroom .delete.delete:active {
  background-color: red;
}
.Classroom .section {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.Classroom .INSIDE,
.Classroom .OUTSIDE,
.Classroom .QUEUE,
.Classroom .PASSES {
  flex: 1;
}
.Classroom .INSIDE ul,
.Classroom .OUTSIDE ul,
.Classroom .QUEUE ul,
.Classroom .PASSES ul {
  list-style-type: none;
  padding: 0;
}
.Classroom .INSIDE p,
.Classroom .OUTSIDE p,
.Classroom .QUEUE p,
.Classroom .PASSES p {
  font-weight: bold;
  text-align: center;
}
.Classroom .INSIDE li,
.Classroom .OUTSIDE li,
.Classroom .QUEUE li,
.Classroom .PASSES li {
  background-color: lightgray;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}
.Classroom .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.Classroom .Create {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.Classroom .BadAlert,
.Classroom .GoodAlert {
  position: fixed;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  height: 2.5em;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  padding: 10px;
  text-align: center;
  border-radius: 100em;
  z-index: 1001;
}
.Classroom .BadAlert {
  background-color: lightcoral;
  color: darkred;
  border: 2px solid darkred;
}
.Classroom .GoodAlert {
  background-color: lightgreen;
  color: darkgreen;
  border: 2px solid darkgreen;
}
@media only screen and (max-width: 600px) {
  .Classroom .exit,
  .Classroom .delete {
    max-width: none;
  }
}

.Control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.Control > div {
  margin: 10px;
}
.Control input[type=text] {
  padding: 8px;
  margin-right: 10px;
}
.Control select {
  padding: 8px;
  margin-right: 10px;
}
.Control button {
  padding: 8px 12px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
}
.Control button:hover {
  background-color: #45a049;
}
.Control button:active {
  background-color: #3e8e41;
}
.Control .cancelB {
  font-size: 2.5em;
  width: 70%;
  background-color: #ffd700;
}
.Control .cancelB:hover {
  background-color: #ffd700;
}
.Control .cancelB:active {
  background-color: #ffd700;
}
.Control .CheckOut {
  font-size: 2.5em;
  width: 70%;
  background-color: red;
}
.Control .CheckOut:hover {
  background-color: rgb(249, 19, 19);
}
.Control .CheckOut:active {
  background-color: red;
}
.Control .CheckIn {
  font-size: 2.5em;
  width: 70%;
  background-color: #4CAF50;
}
.Control .CheckIn:hover {
  background-color: #45a049;
}
.Control .CheckIn:active {
  background-color: #3e8e41;
}

.Admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust as needed */
}
.Admin .exit {
  padding: 8px 12px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
}
.Admin .exit:hover {
  background-color: #d32f2f;
}
.Admin .exit:active {
  background-color: #b71c1c;
}
.Admin h1 {
  font-size: 24px;
  margin: 10px 0;
}
.Admin div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.Admin div > div {
  margin: 10px;
}
.Admin div input[type=text] {
  padding: 8px;
  margin-right: 10px;
  width: 90%;
  min-width: 300px;
}
.Admin div select {
  padding: 8px;
  margin-right: 10px;
}
.Admin div button {
  padding: 8px 12px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
}
.Admin div button:hover {
  background-color: #45a049;
}
.Admin div button:active {
  background-color: #3e8e41;
}
.Admin .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other elements */
}
.Admin .Create {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Add a shadow for the popup */
  text-align: center;
}
.Admin .Create button {
  display: flex;
  flex-direction: space-between;
  background-color: grey;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.Admin .Create button:hover {
  background-color: rgb(179, 179, 179);
}
.Admin .BadAlert {
  position: fixed;
  top: 1em;
  left: 50%; /* Set left to 50% */
  transform: translateX(-50%);
  height: 2.5em;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  background-color: lightcoral; /* Light red background color */
  color: darkred; /* Dark red text color */
  padding: 10px;
  text-align: center;
  border: 2px solid darkred; /* Dark red bottom border */
  border-radius: 100em; /* Rounded corners for the bottom */
  /* You can add more styles as needed */
  z-index: 1001;
}
.Admin .GoodAlert {
  position: fixed;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  height: 2.5em;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  background-color: lightgreen; /* Light red background color */
  color: darkgreen; /* Dark red text color */
  padding: 10px;
  text-align: center;
  border: 2px solid darkgreen; /* Dark red bottom border */
  border-radius: 100em; /* Rounded corners for the bottom */
  /* You can add more styles as needed */
  z-index: 1001;
}

.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto; /* Adjust as needed */
  overflow: visible;
  padding: 1em;
}
.About img {
  border: solid 1px black;
  width: 85%;
  height: auto;
}
.About .exit {
  padding: 8px 12px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
}
.About .exit:hover {
  background-color: #d32f2f;
}
.About .exit:active {
  background-color: #b71c1c;
}
.About h1 {
  font-size: 24px;
  margin: 10px 0;
}
.About div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.About p {
  width: 85%;
  text-align: center;
}
.About a {
  max-height: 2em;
}/*# sourceMappingURL=index.css.map */